.profil {
    text-align: center;
    background-image: url('../assets/images/bg/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: gray;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil img {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

.profil h2 {
    font-size: 24px;
}

.profil h3 {
    font-size: 20px;
}

.profil p {
    font-size: 16px;
    margin: 10px 0;
}
